/*full page background image*/
body {
    background-image: url('C:\Users\chouh\Downloads\pexels-bess-hamiti-83687-36487.jpg');
    background-size:cover ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    padding: 20px;
}

/*header section */
header {
    text-align: center;
    font-family: 'georia',serif;
    background-color: rgba(255,255,255,0.7);
    padding: 15x;
    border-radius: 10px;
}
/* links styling*/
a {
    text-decoration: none;
    color: blueviolet;
}

a:hover {
    color:#cc3300;
}
