body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background:e;
      background-image: url(http://getwallpapers.com/wallpaper/full/3/f/0/856166-best-england-wallpaper-3840x2160.jpg);
      background-size: cover;
    }
    header {
      background: #006666;
      color: white;
      padding: 20px;
      text-align: center;
    }
    main {
      padding: 20px;
      max-width: 900px;
      margin: auto;
      background-image: url(https://wallpaperaccess.com/full/754629.jpg);
      background-size: cover;
      color: azure;
      
    }
    img {
      max-width: 50%;
      margin-bottom: 15px;
      border-radius: 8px;
      flex-direction: row;
    }
    .image {
  display: flex;               
  gap: 10px;                   
  justify-content: center;     
  flex-wrap: wrap;   
  margin: 20px 0;
  flex-direction: row;        
}

.image img {
  flex: 1 1 30%;               
  max-width: 30%;             
  height: auto;                
  border-radius: 8px; 
  flex-direction: row;         
}
    ul {
      margin-left: 20px;
    }
    iframe {
      display: block;
      margin: 20px auto;
      max-width: 50%;
      border: none;
      border-radius: 8px;
      flex-direction: row;
    }
    form {
      background: #f9f9f9;
      padding: 15px;
      border-radius: 8px;
      margin-top: 30px;
      flex-direction: row;
    }
    form input[type="text"],
    form textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      
    }
    form input[type="submit"] {
      background: gray;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
    }
    form input[type="submit"]:hover {
      background: #006666;
    }